    body {
    font-family: Carrington;
    font-size: 2em;
    background-color: #0C090A;
    color: #33ccff;
    }
    ul {
      background-color: #0C090A;
    }
    h1 {
        background-color: #EADCF2;
        font-weight: 300;
        font-size: 1.5em;
        font-family:Cash Currency;
    }
    @font-face{
        font-family: Cash Currency;
        src: url('Cash Currency.ttf');
    }
    @font-face{
        font-family: Carrington;
        src: url('Carrington.ttf');
    .werchamps {
        color:#D9BD3F;
    }
    .werchamps:hover{
        background-color: #33ccff;
        font-weight: 500;
        color: #cc0000
    }
    h1 {
        text-decoration: none;
    }
    
    h1 {
    /*    background-color: #99ff33;*/
    }
    p {
        text-align:center;
    }
    #wrapper {
        max-width: 250px;
    }
    .Background {
        background-color: #29241E;
        border-radius: 25px;
        padding: 10px; 
        width: 150px;
        height: auto;
        
         
    }
    #gallery {
        margin: 0;
        padding:0;
        list-style: none;
    }
    #gallery li {
        float: left;
        width: 45%;
        margin: 2.5%;
        background: red;
        border-radius: 5px;
    }
/* !TESTING AREA!*/

    ul{
        padding: 0;
        list-style: none;
        
        
        
        
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background-color: #0C090A;
    }
    ul li ul.dropdown{
        min-width: 125px; /*Set width of the dropdown */

       background-color: #0C090A;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        text-align: left;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */

    }
    ul li ul.dropdown li{
        display: block;
    }
    .max {
        max-width: 32px;
        max-height: 33.5px;
    }